body {
  background-color: #eee;
  width: 100%;
  font-family: 'Open Sans', Arial;
  color: #959595;
  font-size: 16px;
}

header {
  background: #2aa6ca;
  height: 50px;
  text-align: center;
}

header h1 {
  display: inline-block;
  color: #fff;
  font-size: 24px;
  line-height: 50px;
}

#search {
  background: #c4e5ee;
  margin-bottom: 15px;
}

fieldset {
  border: 0;
}

select {
  border-radius: 3px;
  width: 100%;
  background: #9ed6e5;
  color: #fff;
  border: 0;
  padding: 4px;
  font-size: 16px;
}

.article {
  background: #fff;
  overflow: hidden;
  box-sizing: border-box;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  margin-bottom: 15px;
}

.article-title {
  font-size: 19px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 8px;
  border-bottom: 1px solid #ccc;
}

.article-title a {
  color: #2aa6ca;
  text-decoration: none;
}

.article-body {
  font-size: 14px;
}

.container {
  padding: 10px;
  margin: 0 auto;
}

.article-location {
  font-weight: bold;
  margin-bottom: 5px;
}

.article-description {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 22px;      /* fallback */
  max-height: 44px;       /* fallback */
  -webkit-line-clamp: 2;  /* number of lines to show */
  -webkit-box-orient: vertical;
  margin-bottom: 10px;
}

.article-social-and-tags {
  list-style: none;
  float: left;
  padding-bottom: 10px;
  font-size: 19px;
}

.article-social-and-tags li {
  display: inline-block;
}

.article-published-date {
  float: right;
  font-size: 12px;
  font-style: italic;
  margin-right: 20px;
}

.facebook-color {
  color: #3b5998;
}

.twitter-color {
  color: #00aced;
}

.google-plus-color {
  color: #dd4b39;
}

.fa-star {
  font-size: 17px;
}

.star-color {
  color: #ccc;
}

.pagination {
  position: relative;
  font-size: 14px;
}

.pagination a {
  text-decoration: none;
  color: #00a6d0;
  border: 1px solid #00a6d0;
  padding: 0.3em 0.6em;
  border-radius: 2px;
}

.previous_page {
  float: left;
}

.next_page {
  float: right;
}

.disabled {
  color: #999;
  border: 1px solid #ddd;
  padding: 0.3em 0.6em;
}

footer {
  background: #2aa6ca;
  bottom: 0;
  position: absolute;
  width: 100%;
  text-align: center;
  height: 25px;
}

footer span {
  display: inline-block;
  color: #fff;
  font-size: 13px;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
