  /* CSS reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
  margin:0;
  padding:0;
}

body {
  background-color: #eee;
  width: 100%;
  font-family: Arial;
}

header {
  background-color: #000;
  height: 57px;
  padding: 0px;
}

header h1 {
  position: relative;
  display: inline-block;
  top: 15px;
  width: 18%;
}

.logo {
  width: 190px;
  display: block;
}

.menu {
  display: inline-block;
  position: relative;
  top: 7px;
}

.send_button {
  float: right;
}

.menu ul li {
  display: inline-block;
  margin: 0 41px;
  text-align: center;
}

.menu-item {
  color: #5b5c5e;
  text-decoration: none;
  font-size: 20px;
}

.container {
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}


.map {
  float: left;
  width: 50%;
}

.main ol {
  list-style: none;
  float: left;
  width: 50%;
}

.article {
  width: 100%;
  background: #fff;
  overflow: hidden;
  min-height: 160px;
  box-sizing: border-box;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  margin-top: 15px;
}

.article-title {
  border-bottom: 1px solid #ccc;
  padding: 10px;
}

.article-title:before {
  content: '';
  background: url(../images/graystar.jpg);
  height: 23px;
  width: 23px;
  margin-right: 5px;
  position: relative;
  display: inline-block;
  top: 2px;
  left: 5px;
}

.social-sprites:after {
  content: '';
  background: url(../images/social_sprites.jpg);
  position: absolute;
  width: 21px;
  height: 21px;
}

.article-details-icon:after {
  background-position: 0 34px;
}

.article-title a {
  font-size: 27px;
}

.article-title a,
.article-details {
  text-decoration: none;
  color: #29a5ca;
}

.article-body {
  padding: 15px;
  color: #969696;
}

.article-location {
  font-weight: bold;
}

.article-location,
.article-description,
.article-published-date {
  margin-bottom: 10px;
}

.article-published-date {
  color: #bbb;
}

.article-social-and-tags {
  list-style: none;
  height: 21px;
}
.article-social-and-tags ul {
  position: relative;
}
.article-social-and-tags li {
  display: inline-block;
}

.article-social-and-tags li a {
  text-decoration: none;
}

.article-social-and-tags a[href*='facebook.com'] {
  background: url(../images/social_sprites.jpg) 0 0;
}

.article-social-and-tags a[href*='twitter.com'] {
  background: url(../images/social_sprites.jpg) 0 -42px;
}

.article-social-and-tags a[href*='plus.google.com'] {
  background: url(../images/social_sprites.jpg) 0 -21px;
}

.social-icon {
  display: block;
  width: 21px;
  height: 21px;
  text-indent: -9999px;
}

.tag {
  background: #29a5ca;
  color: #fff;
  padding: 3px 10px;
  border-radius: 3px;
  font-size: 90%;
}

.article-social-and-tags li a {
  display: block;
}

.article-details {
  float: right;
  position: relative;
  top: -18px;
  margin-right: 15px;
}

.clear {
  clear: both;
}
