/* CSS reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
  margin:0;
  padding:0;
}

body {
  background-color: #FFF;
  width: 100%;
  font-family: Arial;
}

header {
  background-color: #000;
  height: 57px;
  padding: 0px;
}

header h1 {
  position: relative;
  display: inline-block;
  top: 15px;
  width: 18%;
}

.logo {
  width: 190px;
  display: block;
}

.menu {
  display: inline-block;
  position: relative;
  top: 7px;
}

.send_button {
  float: right;
}

.menu ul li {
  display: inline-block;
  margin: 0 41px;
  text-align: center;
}

.menu-item {
  color: #5b5c5e;
  text-decoration: none;
  font-size: 20px;
}

.container {
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}


.map {
  float: left;
  width: 50%;
}

.main ol {
  list-style: none;
  float: left;
  width: 50%;
}

.article {
  min-height: 160px;
  padding: 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-top: 10px;
}

.article-title a {
  text-decoration: none;
  color: #29a5ca;
}

.share-and-tags {
  list-style: none;
}

.share-and-tags li {
  display: inline-block;
}

.article-details {
  float: right;
  position: relative;
  top: -20px;
}

.clear {
  clear: both;
}
